{
    "token": "<put_your_token_here>",
    "githubApiKey": "<your_github_personal_access_token>",
    "logInfoChannelWebhook": "<put_your_webhook_here>",
    "logErrorChannelWebhook": "<put_your_webhook_here>",
    "openaiApiKey": "<check pins in #tjbot_discussion for the key>",
    "jshellBaseUrl":  "<put_jshell_rest_api_url_here>",
    "wolframAlphaAppId": "79J52T-6239TVXHR7"
}
