version: "3.9"
services:
  tjbot-develop:
    image: "togetherjava.duckdns.org:5001/togetherjava/tjbot:develop"
    command: ["/home/bot/config/config.json"]
    volumes:
      - database:/home/bot/database
      - ./config:/home/bot/config
    restart: always
    networks:
      - develop-bot

  tj-develop-website:
    image: "togetherjava.duckdns.org:5001/togetherjava/website:develop"
    ports:
      - "127.0.0.1:5051:5051"
    networks:
      - develop-bot
    restart: always

volumes:
  database:
    name: "tj-bot-develop-database"

networks:
  develop-bot:
    name: "develop-bot"
