.logs-view {
    display: block;
    padding: 1em;
}

:root {
    --color-info: rgba(120, 107, 213, 0.5);
    --color-warn: rgba(170, 187, 97, 0.5);
    --color-error: rgba(255, 75, 75, 0.5);
    --color-debug: rgba(127, 255, 212, 0.5);
    --color-trace: rgba(58, 118, 58, 0.5);
}

p {

    line-height: normal;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.error {
    background-color: var(--color-error);
}

.warn {
    background-color: var(--color-warn);
}

.info {
    background-color: var(--color-info);
}

.debug {
    background-color: var(--color-debug);
}

.trace {
    background-color: var(--color-trace);
}
