.logs-view {
    display: block;
    padding: 1em;
}

p {

    line-height: normal;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.error {
    background-color: rgba(255, 75, 75, 0.5);
}

.warn {
    background-color: rgba(170, 187, 97, 0.5);
}

.info {
    background-color: rgba(120, 107, 213, 0.5);
}

.debug {
    background-color: rgba(127, 255, 212, 0.5);
}

.trace {
    background-color: rgba(58, 118, 58, 0.5);
}
