name: Docker Verify

on: [pull_request]

env:
  JAVA_VERSION: 21

jobs:
  docker:
    name: Docker Verify
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Docker Verify
        run: ./gradlew jibDockerBuild
